server:
  port: 8080
spring:
  application:
    name: api-gateway-service

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      routes:
        # user micro service
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        # Transaction microservice
        - id: transaction-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/transactions/**

        # Reward Service
        - id: reward-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/rewards/**

        # Notification Service
        - id: notification-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/notifications/**
